@use 'sass:color';
@use 'theme' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: $space-3 $space-5;
  border-radius: $radius-sm;

  font-weight: 500;
  cursor: pointer;
  transition: all $transition-fast;
  text-decoration: none;
}

// PRIMARY
.button--primary {
  background: $brand-primary;
  color: $text-inverse;
  border: none;

  &:hover {
    background: color.adjust($brand-primary, $lightness: -8%);
  }
}

// SECONDARY
.button--secondary {
  background: transparent;
  border: 1px solid $border-default;
  color: $text-primary;

  &:hover {
    background: $color-gray-100;
  }
}
