@use 'theme' as *;

.pagination {
  display: flex;
  gap: $space-2;

  button {
    padding: $space-2 $space-3;
    border-radius: $radius-sm;
    border: 1px solid $border-default;
    background: $bg-card;

    &:hover {
      background: $color-gray-100;
    }
  }

  .active {
    background: $brand-primary;
    color: white;
  }
}
