@use 'theme' as *;

.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: $space-4;
    text-align: left;
  }

  th {
    color: $text-secondary;
    font-weight: 500;
  }

  tr {
    border-bottom: 1px solid $border-default;
  }

  tr:hover {
    background: $color-gray-100;
  }
}
